/*--------------------------
    BACKGROUND COLORS
--------------------------*/

.background-blue{
    background-color: blue;
}

.background-green{
    background-color: green;   
}

.background-red{
    background-color: red;
}